@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

input,
button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

:root {
  --black: #331c21;
  --white: #f3f4f6;
  --green: rgb(25, 207, 80);
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;

  background-color: var(--white);

  font-family: 'Space Mono', monospace, Helvetica, Arial, sans-serif;
  color: var(--black);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
