.todo {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  padding: 1rem 2rem;
  margin: 2rem auto;

  border-radius: 0.4rem;
  background: transparent;
  border: 2px solid #555;

  font-size: 1.7rem;
  font-weight: 700;
  color: #104d51;
}

.todoText {
  width: 100%;
  margin: 0;

  text-align: left;
}

.todoText::selection {
  background: rgb(25, 207, 80);
}

.completedTodo {
  text-decoration: line-through;
  color: teal;
}

.todo.completedTodo .checkIcon {
  color: #fecc1b;
}

.todoIcon {
  margin-right: 1rem;

  font-size: 1.7rem;
  color: teal;
}

.checkIcon,
.deleteIcon {
  margin: 0 0.3rem;

  font-size: 2rem;
  color: teal;

  transition: color 0.2s linear;
  cursor: pointer;
}

.deleteIcon:hover {
  color: #3992ff;
}

.checkIcon:hover {
  color: #fecc1b;
}
