.todoCounter {
  padding: 1.5rem 0 2.5rem;
  font-size: 2rem;
}

.todoCounter h2::selection {
  background: var(--green);
}

@media (max-width: 650px) {
  .todoCounter {
    font-size: 1.5rem;
  }
}

@media (max-width: 376px) {
  .todoCounter {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .todoCounter {
    font-size: 1rem;
    line-height: 1;
  }
}
