.todoFormContainer {
  margin-bottom: 5rem;
}

.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoFormContainer input {
  width: 40rem;
  padding: 1rem 3rem;

  border-radius: 0.2rem;
  outline: 2px solid var(--black);

  font-size: 2rem;

  transition: all 0.2s ease-out;
}

.todoFormContainer input::placeholder {
  color: var(--black);
}

.todoFormContainer input:focus {
  background-color: #fff;
}

.todoFormContainer input::selection {
  background-color: var(--green);
}

@media (max-width: 650px) {
  .todoFormContainer {
    margin-bottom: 3rem;
  }

  .todoFormContainer input {
    width: 30rem;
  }
}

@media (max-width: 500px) {
  .todoFormContainer {
    margin-bottom: 2rem;
  }

  .todoFormContainer form {
    flex-direction: column;
  }

  .todoFormContainer input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;

    font-size: 1.5rem;
  }

  .todoFormContainer form > button {
    width: 100%;
    margin: 0;
    
    font-size: 1.3rem;
  }
}
