.button {
  margin-left: 2rem;
  padding: 1em 1.5em;

  border-radius: 0.3rem;
  background-color: var(--black);

  font-size: 1.6rem;
  color: var(--white);

  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  outline: 1px solid var(--black);
  background-color: transparent;

  color: var(--black);
}
